$main-color:rgba(0, 119, 255, 0.7);

main {
    // position: relative;
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        .results {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 800px;
            height: 150px;
            top: 50px;
            left: 16%;
            font-size: 2rem;
            font-weight: bold;
            color: white;
            text-transform: capitalize;
            span {
                margin-bottom: 15px;
                background-color: rgba(0, 0, 255, 0.30);
                border-radius: 20px;
                padding: 0 10px;
                &:not(:first-child){
                    font-size: 1rem;
                    font-weight: normal;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
        }
        #images{
            #main-image{
                width: 1000px;
                height: 600px;
                border-radius: 100px;
                box-shadow: 5px 5px 10px silver;
            }
            #branch-one-image{
                position: absolute;
                bottom: -100px;
                left: 200px;
                width: 250px;
                height: 150px;
                // border-radius: 20px;
                border: 10px solid white;
                transform: rotate(5deg);
                box-shadow: 3px 3px 10px silver;
            }
            #branch-two-image{
                position: absolute;
                bottom: -100px;
                right: 470px;
                width: 250px;
                height: 150px;
                // border-radius: 20px;
                border: 10px solid white;
                transform: rotate(-7deg);
                box-shadow: 3px 3px 10px silver;
            }
        }
        form {
            width: 300px;
            height: 100%;
            border: 2px solid black;
            border-radius: 20px;
            // display: flex;
            flex-direction: column;
            position: absolute;
            top: 15%;
            left: 74%;
            
            label {
                width: 90%;
                font-size: 2rem;
                font-weight: bold;
                text-transform: capitalize;
                color: white;
                margin: 5px 0 5px 10px;
                background-color: rgba(0, 0, 255, 0.30);
                border-radius: 10px;
            }
            input,#remove {
                text-transform: uppercase;
                width: 95%;
                height: 40px;
                margin-bottom: 10px;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: bold;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
                &[type="submit"]{
                    &:hover {
                        background-color: aqua;
                        color: blue;
                    }
                }
            }
        }
    }
}